@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.985 0.002 247.839);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(0.985 0.002 247.839);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(0.985 0.002 247.839);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.61 0.11 222);
  --primary-foreground: oklch(0.98 0.02 201);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.8 0.11 220);
  --accent-foreground: oklch(0.06 0.02 220);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: oklch(0.12 0.02 261.692);
  --foreground: oklch(0.92 0.01 247.839);
  --card: oklch(0.16 0.025 264.665);
  --card-foreground: oklch(0.92 0.01 247.839);
  --popover: oklch(0.16 0.025 264.665);
  --popover-foreground: oklch(0.92 0.01 247.839);
  --primary: oklch(0.65 0.11 222);
  --primary-foreground: oklch(0.12 0.02 261.692);
  --secondary: oklch(0.22 0.01 286.375);
  --secondary-foreground: oklch(0.85 0.01 285.885);
  --muted: oklch(0.22 0.02 264.542);
  --muted-foreground: oklch(0.65 0.02 264.364);
  --accent: oklch(0.55 0.1 220);
  --accent-foreground: oklch(0.12 0.02 220);
  --destructive: oklch(0.62 0.2 27.325);
  --border: oklch(0.3 0.015 264.531);
  --input: oklch(0.3 0.015 264.531);
  --ring: oklch(0.6 0.02 261.325);
}

@theme inline {
  --font-sans: "Inter Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
